---
import GitHub from "./Icons/GitHub.astro"
import NextJS from "./Icons/NextJS.astro"
import Tailwind from "./Icons/Tailwind.astro"
import Estilooos from "./Icons/Estilooos.astro"
import Link from "./Icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Java from "./Icons/Java.astro"
import Htmmml from "./Icons/Htmmml.astro" 
import Jjjsss from "./Icons/Jjjsss.astro" 
import Cc from "./Icons/Cc.astro"         

const TAGS = {
  JAVA: {
    name: "Java",
    class: "bg-black text-white",
    icon: Java,
  },
  HTMMML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: Htmmml,
  },
  Estilooos: {
    name: "CSS",
    class: "bg-black text-white",
    icon: Estilooos,
  },
  Jjjsss: {
    name: "js",
    class: "bg-black text-white",
    icon: Jjjsss,
  },
  Cc: {
    name: "Lenguaje C",
    class: "bg-[#003159] text-white",
    icon: Cc,
  },
}
const PROJECTS = [
  {
    "title": "Proyecto en espera :D",
    "description": "Proyecto en espera para la materia de ciberseguridad",
    "link": "https://anosvald.github.io/Music.github.io/",
    "github": "https://github.com/Anosvald/Music.github.io.git",
    "image": "/projects/Artistas.png",
    "tags": [TAGS.Estilooos, TAGS.HTMMML]
  },
  
  /*

  {
    "title": "Plataforma Web para Exploración de Artistas Globales",
    "description": "Desarrollo de una plataforma interactiva para visualizar artistas de renombre mundial. Permite a los usuarios explorar información detallada de diversos cantantes y bandas. Construida desde cero con html y CSS.",
    "link": "https://anosvald.github.io/Music.github.io/",
    "github": "https://github.com/Anosvald/Music.github.io.git",
    "image": "/projects/Artistas.png",
    "tags": [TAGS.Estilooos, TAGS.HTMMML]
  },
  {
    "title": "Sistema de Gestión de Inventarios en Java",
    "description": "Aplicación diseñada para el control y almacenamiento eficiente de inventarios en bases de datos. Permite registrar, actualizar y consultar productos de manera intuitiva. Desarrollada con Java y tecnologías asociadas.",
    "github": "https://github.com/Anosvald/Inventario.git",
    "image": "/projects/Java.png",
    "tags": [TAGS.JAVA, TAGS.HTMMML]
  },
  {
    "title": "Sitio web Freelancer",
    "description": "Sitio web personal para mostrar servicios de programación y desarrollo. Permite explorar proyectos previos y contactar directamente. Desarrollado con HTML5 y CSS3, con diseño responsivo y moderno.",
    "link": "https://freelancer-diego-osvaldo.netlify.app",
    "github": "https://github.com/Anosvald/freelancer-diego-osvaldo.git",
    "image": "/projects/freelancer.png",
    "tags": [TAGS.Estilooos, TAGS.HTMMML]
  },
  {
    "title": "FrontendStore",
    "description": "Frontend-Store-Osvaldo es una tienda en línea de camisas con un diseño moderno y fácil de usar. Permite a los usuarios explorar, seleccionar y realizar compras de manera rápida y segura. Desarrollada con HTML5 y CSS3, con una interfaz atractiva y responsiva para una experiencia de compra fluida en todos los dispositivos.",
    "link": "https://frontend-store-osvaldo.netlify.app",
    "github": "https://github.com/Anosvald/frontend-store-osvaldo.git",
    "image": "/projects/FrontendStore.png",
    "tags": [TAGS.Estilooos, TAGS.HTMMML]
  },
  {
    "title": "BlogCafe",
    "description": "BlogCafe es un proyecto desarrollado con HTML5, CSS y JavaScript, diseñado para ofrecer una experiencia fluida y atractiva a los amantes del café. La plataforma está totalmente optimizada para dispositivos móviles, tabletas y escritorios, garantizando una navegación rápida y accesible en cualquier plataforma.",
    "link": "https://blog-cafe-osvaldo.netlify.app",
    "github": "https://github.com/Anosvald/blog-cafe-osvaldo.git",
    "image": "/projects/cafe.png",
    "tags": [TAGS.Estilooos, TAGS.HTMMML, TAGS.Jjjsss]
  },
  {
    "title": "Juego en lenguaje C",
    "description": "Juego del ahorcado en C con memoria dinámica, que genera archivos .xlsx para registrar partidas y estadísticas. Optimizado para eficiencia y escalabilidad.",
    "github": "https://github.com/Anosvald/Juego-C.git",
    "image": "/projects/cproyecto1.png",
    "tags": [TAGS.Cc]
  },
  {
    "title": "Sistema de Punto de Venta (POS) – Java Desktop",
    "description": "Software de escritorio diseñado para optimizar la operación de ventas minoristas. Desarrollado con Java Swing/JavaFX, este POS ofrece una interfaz intuitiva y fluida para el registro de transacciones, gestión de productos y reportes de ventas diarios. Se destaca por su eficiencia en el procesamiento de datos y una curva de aprendizaje mínima para el usuario final.",
    "github": "https://github.com/Anosvald/Punto-Venta.git",
    "image": "/projects/PuntoVenta_Java.png",
    "tags": [TAGS.JAVA]
  },

  */

]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>